@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* 기본 하얀색 */
  --code-theme1: #ffffff;
  --code-theme2: #f5f5f5;
  --code-theme3: #ebedf1;

  /* 베이직 */
  --code-theme4: #8d8e99;
  --code-theme5: #79889c;
  --code-theme6: #3e3a39;
  --code-theme7: #d7d8dd;
  --code-theme9: #000000;

  /* 포인트 컬러 */
  --code-theme10: #009178;
  --code-theme11: #00b2a7;
  --code-theme12: #ef4667;
  --code-theme13: #fae100;

  /* 파스텔 컬러 */
  --code-theme14: #e6f5f2;
  --code-theme15: #d8eae8;
  --code-theme16: #e0f4e3;
  --code-theme17: #def0df;
  --code-theme18: #e1eff5;
  --code-theme19: #f1e7f6;
  --code-theme20: #ede0f3;
  --code-theme21: #f4edde;
  --code-theme22: #ede4d1;
  --code-theme23: #f8bed6;

  /* 위 색상 재정의 */
  --color-white: var(--code-theme1);
  --color-Page-Background: var(--code-theme2);
  --color-Background: var(--code-theme3);

  --color-Icon-Detail: var(--code-theme4);
  --color-Modal-font: var(--code-theme5);
  --color-Hana-Black: var(--code-theme6);
  --color-Box-Line: var(--code-theme7);
  --color-black: var(--code-theme9);

  --color-Hana-Green: var(--code-theme10);
  --color-Logo-Mint: var(--code-theme11);
  --color-Logo-Pink: var(--code-theme12);
  --color-kakao: var(--code-theme13);

  --color-1Q-Mint: var(--code-theme14);
  --color-1Q-Mint-Line: var(--code-theme15);
  --color-1Q-Green: var(--code-theme16);
  --color-1Q-Green-Line: var(--code-theme17);
  --color-1Q-Blue: var(--code-theme18);
  --color-1Q-Purple: var(--code-theme19);
  --color-1Q-Purple-Line: var(--code-theme20);
  --color-Hana-Beige: var(--code-theme21);
  --color-Hana-Beige-Line: var(--code-theme22);
  --color-pink: var(--code-theme23);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@font-face {
  font-family: 'AppleSDGothicNeoSB';
  src: url('/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeoEB';
  src: url('/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeoH';
  src: url('/fonts/AppleSDGothicNeoH.ttf') format('truetype');
}

button {
  @apply cursor-pointer;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

body {
  @apply flex h-screen items-center justify-center overflow-hidden antialiased;
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ✅ utilities 층에 커스텀 클래스 등록 */
@layer utilities {
  /* 기본 페이지 배경 + 가운데 퍼지는 민트 그라데이션 */
  .bg-page-gradient {
    /* 맨 뒤에 기본 배경색을 같이 넣어주면 원래 배경색과 합쳐짐 */
    background:
      linear-gradient(to bottom, transparent 0%, #e6f5f2 60%, transparent 100%),
      var(--color-Page-Background);
  }
}
